:root {
	
	 /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
 
 --borderRadius: 0.25rem;
 --backgroundColor: var(--grey-50);
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 600px;
  --fixed-width: 600px;
   --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
 }
 
 h1{
 font-size: 2.5rem;
 text-align: center;
 color : #c1502e;
 }
 
 h3{
  color : #c1502e;
  font-size: 1.5rem;
 }
 
 p{
 color: #c1502e;
 margin-top: 0;
 font-size: 1.5rem;
 text-align: center;
 
 }
 
  table{
 margin : 0 auto;
 width : 90vw;
 margin-top: 30px;
 border-collapse: collapse;
 }
 
 
 table, th, td {
  border: 1px solid black;
    
}

th, td {
  padding: 8px;
  text-align: left; 
  font-size: 1.25rem;
}


.container{
width: 95vw;
margin: 0 auto;
background:var(--primary-100);
border-radius: var(--borderRadius);
box-shadow: var(--shadow-3);
transition: var(--transition);
padding: 5px 5px;
}

.form{
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-4);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  
}

.form-input{
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-300);
  margin-bottom:10px;
}

.form-label{
	color:black;
	font-size: 1.25rem;
}

.form-control{
background: var(--primary-100);
border-radius: var(--borderRadius);
display: flex;
align-items:center;
justify-content: space-between;
margin: 0 auto;
padding-left: 20px;
padding-right: 20px;
margin-top:0;

}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-submit{
    margin-top: 1rem;
    border-radius: var(--borderRadius);
    width: 175px;
      }
  
.inner-form{
	background: var(--red-light);
}


.container .stats-heading{
	text-align:center;
	margin-top:0;
}


